/* Note CSS files have digfferent comments to HTML - yes really! */
body {background-color:darkslategray;}
h1 {color: blanchedalmond;}
h2 {color: blanchedalmond;}
div {color: rgb(255, 51, 0);}
div {font-size: large;}
p {color: orange;}
p {font-size: large;}
.button_answer {color:deepskyblue;}